PORT=5000
DB_USERNAME=auth_app
DB_PASSWORD=«auth_app user password»
DB_DATABASE=auth_db
DB_HOST=localhost

# Generated with "openssl rand -base64 10"
JWT_SECRET=«generate_strong_secret_here»
JWT_EXPIRES_IN=604800


# Testing
# PORT=5000
# DB_USERNAME=admin
# DB_PASSWORD=admin
# DB_DATABASE=auth
# DB_HOST=localhost

# # Generated with "openssl rand -base64 10"
# JWT_SECRET=keCrvQJ0uPzLkw==
# JWT_EXPIRES_IN=604800