.profile {
    display: inline-block;
    padding: 30px;
    background-color: white;
    font-size: 20px;
}

.biography {
    display: inline-block;
    border: 5px solid black;
    background-color: cadetblue;
    padding: 1em;
    font-size: 18px;
}

.footer-3-wide {
    display: inline-block;
    border: 5px solid black;
    background-color: pink;
    padding: 1em;
    font-size: 25px;
    font-weight: normal;
}
